/* .react-timerange-picker__inputGroup__input {
    min-width: 0.52em;
    height: 100%;
    position: relative;
    padding: 0 1px;
    border: 0;
    background: none;
    /* font:bold; */
/*   
    color: white !important;
    font: inherit; */
    /* */
    /* color: white !important;
    box-sizing: content-box;
    /* -moz-appearance: textfield; */
  /* } 
  */ 